@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?negagq');
	src: url('fonts/icomoon.eot?negagq#iefix') format('embedded-opentype'),
	url('fonts/icomoon.ttf?negagq') format('truetype'),
	url('fonts/icomoon.woff?negagq') format('woff'),
	url('fonts/icomoon.svg?negagq#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e905";
}

.icon-image:before {
	content: "\e90d";
}

.icon-cloud:before {
	content: "\e9c1";
}

.icon-cloud-download:before {
	content: "\e9c2";
}

.icon-cloud-upload:before {
	content: "\e9c3";
}

.icon-cloud-check:before {
	content: "\e9c4";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-link:before {
	content: "\e9cb";
}

.icon-flag:before {
	content: "\e9cc";
}

.icon-question:before {
	content: "\ea09";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-info:before {
	content: "\ea0c";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-enter:before {
	content: "\ea13";
}

.icon-exit:before {
	content: "\ea14";
}

.icon-new-tab:before {
	content: "\ea7e";
}

.icon-embed:before {
	content: "\ea7f";
}

.icon-embed2:before {
	content: "\ea80";
}

.icon-google-plus:before {
	content: "\ea8b";
}

.icon-facebook2:before {
	content: "\ea91";
}

.icon-telegram:before {
	content: "\ea95";
}

.icon-twitter:before {
	content: "\ea96";
}

.icon-vk:before {
	content: "\ea98";
}


.share-fb {
	border-radius: .25rem;
	height: 1.5rem;
	background-color: #4267b2;
	color: #fff;
	border: 1px solid #4267b2;
	padding: 0.1rem 0.5rem;
}

.share-fb:hover {
	color: #fff;
	background-color: #365899;
	border-color: #4267b2
}

.share-fb.focus,
.share-fb:focus {
	box-shadow: 0 0 0 .2rem rgba(54, 88, 139, .5)
}

.share-fb span {
	vertical-align: text-top;
}

.share-tw {
	border-radius: .25rem;
	height: 1.5rem;
	padding: 0.1rem 0.5rem;
}

.share-tw span {
	vertical-align: text-top;
}

.share-vk {
	border-radius: .25rem;
	height: 1.5rem;
	background-color: #6287ae;
	color: #fff;
	border: 1px solid #4267b2;
	padding: 0.1rem 0.5rem;
}

.share-vk:hover {
	color: #fff;
	background-color: #678eb4;
	border-color: #4267b2
}

.share-vk.focus,
.share-vk:focus {
	box-shadow: 0 0 0 .2rem rgba(98, 135, 174, .5)
}

.share-vk img {
	margin: .19rem 0 0 -.2rem;
}

.share-vk span {
	font-size: 0.8rem;
	vertical-align: text-top;
	margin-left: .5rem;
}

.share-gp {
	border-radius: .25rem;
	height: 1.5rem;
	background-color: #fff;
	color: #cc3732;
	border: 1px solid #dddddd;
	padding: 0.1rem 0.5rem;
}

.share-gp:hover {
	color: #fff;
	background-color: #cc3732;
	border-color: #ad1712
}

.share-gp.focus,
.share-gp:focus {
	box-shadow: 0 0 0 .2rem rgba(173, 23, 18, .5)
}

.share-gp span {
	vertical-align: text-top;
}

.share-golos {
	border-radius: .25rem;
	height: 1.5rem;
	width: 80px;
	font-size: 13px;
	font-weight: 500;
	background-color: #fff;
	color: #F21616;
	border: 1px solid #dddddd;
	padding: 0.1rem 0.5rem;
}

.share-golos:hover {
	color: #fff;
	background-color: #2572BA;
	border-color: #00047a
}

.share-golos.focus,
.share-golos:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 60, 173, .5)
}

.share-golos span {
	vertical-align: text-top;
	content: url(graphics/golos.png);
	width: 18px;
}

#modal-lang-form .img-thumbnail {
	padding: 0px;
	height: 30px;
	width: 40px;
}

body {
	margin-bottom: 60px;
}

html {
	position: relative;
	min-height: 100%;
}

.card {
	margin-top: 20px;
}

.navbar li {
	margin: 0 20px;
}

.progress-bar {
	color: #f5f5f5;
}

.progress {
	height: 2rem;
	font-size: 12pt;
}

.card-header-right {
	position: absolute;
	right: 10px;
}

.card-header-right p {
	float: right;
}

.badge {
	margin-right: .5rem;
	margin-top: .9rem;
	vertical-align: super;
}

.table {
	margin-top: -1.3rem;
}

.form-group-swal {
	text-align: left;
	margin-top: -1rem;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
	text-align: center;
}

.btn-outline-secondary {
	width: 2.7rem;
}

.form-check {
	padding-bottom: 1rem;
}

.input-group-prepend {
	margin: 0;
}

.mainmage {
	height: 600px;
}

.rem-vote {
	display: none;
	height: 25px;
	margin: 10px 1rem 0rem 0;
	padding-top: 0;
	color: #fff;
	background-color: #ff7500;
}

.edit-poll {
	display: none;
	height: 25px;
	margin: 10px 1rem 0 0;
	padding-top: 0;
	color: #fff;
	background-color: #ffc800;
}

.vote-item {
	cursor: pointer;
}

.vote-item:hover {
	transition: .5s;
	box-shadow: 0 0 0 .5rem rgba(0, 140, 186, .2)
}

.uplded-img:hover {
	cursor: pointer;
	transition-delay: 1s;
	position: absolute;
	width: auto;
	height: 250px;
	z-index: 2;
	opacity: 1;
	transform: translate(-50%, -50%)
}

.uplded-img {
	position: absolute;
	display: inline-block;
	opacity: 0;
	transition: .5s ease;
	backface-visibility: hidden;
}

.uplded-img-true {
	display: inline-block;
	margin: 0 .5rem;
	position: static;
}

#load-img0 {
	margin-left: .5rem;
}

.github-corner {
	position: fixed;
	top: 0;
	right: 0;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

.octo-arm {
	transform-origin: 40px;
	position: absolute;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0)
	}
	20%,
	60% {
		transform: rotate(-1deg)
	}
	40%,
	80% {
		transform: rotate(10deg)
	}
}

@media (max-width: 991px) {
	.navbar li {
		margin: 0 20px 1rem;
	}
	.github-corner {
		display: none;
	}
	table {
		font-size: 7px;
	}
	.navbar-nav {
		text-align: right;
	}
}

@media (max-width:767px) {
	.card-header-right {
    	top: 50px;
	}
	#complete-form .text-dark {
    	margin-top: 25px;
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}
}

@media (max-width:404px) {
	#complete-form .text-dark {
    	margin-top: 90px;
	}
}

.navbar-toggler {
	z-index: 2;
}

.table th,
.table td {
	padding: 0.5rem;
	border-top: none;
}

	/* dropzone styles */

#actions {
	margin: 2em 0;
}

/* Mimic table appearance */

div.table {
	display: table;
}

div.table .file-row {
	display: table-row;
}

div.table .file-row > div {
	display: table-cell;
	vertical-align: top;
	border-top: 1px solid #ddd;
	padding: 8px;
}

div.table .file-row:nth-child(odd) {
	background: #f9f9f9;
}

/* The total progress gets shown by event listeners */

#total-progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */

#previews .file-row.dz-success .progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}

/* Hide the delete button initially */

#previews .file-row .delete {
	display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
	display: none;
}

#previews .file-row.dz-success .delete {
	display: block;
}

.dz-image-preview {
	width: 80px;
	margin: -32px 0 0 13rem;
}

.size {
	margin: 0 0 0 50%;
	color: #fff;
	transform: translate(-50%, -24px);
	display: inline-flex;
}

.progress-striped {
	margin: -43px 3px 0 3px;
	height: 18px;
}

.img-preview {
	z-index: 1;
}

.dz-image-preview .cancel {
	margin: -155px 0 0 57px;
    width: 20px;
    height: 20px;
}

.dz-image-preview .icon-cross {
    margin: -5px 0 0 -6px;
    display: block;
}

.main-img-d {
    display: block;
    height: 60px;
    margin-top: 2rem;
}
