@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6lz0kz');
  src:  url('fonts/icomoon.eot?6lz0kz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6lz0kz') format('truetype'),
    url('fonts/icomoon.woff?6lz0kz') format('woff'),
    url('fonts/icomoon.svg?6lz0kz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e90d";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}

.share-fb {
	border-radius: .25rem;
	height: 1.5rem;
	background-color: #4267b2;
	color: #fff;
	border: 1px solid #4267b2;
	padding: 0.1rem 0.5rem;
}

.share-fb:hover {
	color: #fff;
	background-color: #365899;
	border-color: #4267b2
}

.share-fb.focus,
.share-fb:focus {
	box-shadow: 0 0 0 .2rem rgba(54, 88, 139, .5)
}

.share-fb span {
	vertical-align: text-top;
}

.share-tw {
	border-radius: .25rem;
	height: 1.5rem;
	padding: 0.1rem 0.5rem;
}

.share-tw span {
	vertical-align: text-top;
}

.share-vk {
	border-radius: .25rem;
	height: 1.5rem;
	background-color: #6287ae;
	color: #fff;
	border: 1px solid #4267b2;
	padding: 0.1rem 0.5rem;
}

.share-vk:hover {
	color: #fff;
	background-color: #678eb4;
	border-color: #4267b2
}

.share-vk.focus,
.share-vk:focus {
	box-shadow: 0 0 0 .2rem rgba(98, 135, 174, .5)
}

.share-vk img {
	margin: .19rem 0 0 -.2rem;
}

.share-vk span {
	font-size: 0.8rem;
	vertical-align: text-top;
	margin-left: .5rem;
}

.share-gp {
	border-radius: .25rem;
	height: 1.5rem;
	background-color: #fff;
	color: #cc3732;
	border: 1px solid #dddddd;
	padding: 0.1rem 0.5rem;
}

.share-gp:hover {
	color: #fff;
	background-color: #cc3732;
	border-color: #ad1712
}

.share-gp.focus,
.share-gp:focus {
	box-shadow: 0 0 0 .2rem rgba(173, 23, 18, .5)
}

.share-gp span {
	vertical-align: text-top;
}

.share-golos {
	border-radius: .25rem;
	height: 1.5rem;
	width: 80px;
	font-size: 13px;
	font-weight: 500;
	background-color: #fff;
	color: #F21616 !important;
	border: 1px solid #dddddd;
	padding: 0.1rem 0.5rem;
}

.share-golos:hover {
	color: #fff !important;
	background-color: #2572BA;
	border-color: #00047a
}

.share-golos.focus,
.share-golos:focus {
	box-shadow: 0 0 0 .2rem rgba(0, 60, 173, .5)
}

.share-golos span {
	vertical-align: text-top;
	content: url(graphics/golos.png);
	width: 18px;
}

#modal-lang-form .img-thumbnail {
	padding: 0px;
	height: 30px;
	width: 40px;
}

body {
	margin-bottom: 60px;
	overflow-x: hidden;
}

html {
	position: relative;
	min-height: 100%;
}

.card {
	margin-top: 20px;
}

.navbar li {
	margin: 0 10px;
}

.progress-bar {
	color: #f5f5f5;
}

.progress {
	height: 2rem;
	font-size: 12pt;
}

.card-header-right {
	position: absolute;
	right: 10px;
}

.card-header-right p {
	float: right;
}

.badge {
	margin-right: .5rem;
	margin-top: .9rem;
	vertical-align: super;
}

.table {
	margin: 0;
}

.form-group-swal {
	text-align: left;
	margin-top: -1rem;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #f5f5f5;
	text-align: center;
}

.btn-outline-secondary {
	width: 2.7rem;
}

.form-check {
	padding-bottom: 1rem;
}

.input-group-prepend {
	margin: 0;
}

.mainmage {
	height: 600px;
}

.rem-vote {
	display: none;
	height: 25px;
	margin: 10px 1rem 0rem 0;
	padding-top: 0;
	color: #fff;
	background-color: #ff7500;
}

.edit-poll {
	display: none;
	height: 25px;
	margin: 10px 1rem 0 0;
	padding-top: 0;
	color: #fff;
	background-color: #ffc800;
}

.vote-item {
	cursor: pointer;
}

.vote-item:hover {
	transition: .5s;
	box-shadow: 0 0 0 .5rem rgba(0, 140, 186, .2)
}

.vote-item img {
    max-width: 100%;
    max-height: 250px;
}

.uplded-img:hover {
	cursor: pointer;
	transition-delay: 1s;
	position: absolute;
	width: auto;
	height: 250px;
	z-index: 2;
	opacity: 1;
	transform: translate(-50%, -50%)
}

.uplded-img {
	position: absolute;
	display: inline-block;
	opacity: 0;
	transition: .5s ease;
	backface-visibility: hidden;
}

.uplded-img-true {
	display: inline-block;
	margin: 0 .5rem 0 0;
	position: static;
}

#load-img0 {
	margin-left: .5rem;
}

.github-corner {
	position: absolute;
	top: 0;
	right: 0;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}

.octo-arm {
	transform-origin: 40px;
	position: absolute;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0)
	}
	20%,
	60% {
		transform: rotate(-1deg)
	}
	40%,
	80% {
		transform: rotate(10deg)
	}
}

.socialButtons a {
    margin-bottom: .5rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224,91,29, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.card-body {
    padding: .5rem;
}

.navbar-toggler {
	z-index: 2;
}

.table th,
.table td {
	border-top: none;
}

.remImg {
    display: none;
    position: absolute;
    margin-left: -43px;
    width: 35px;
    height: 35px;
    background-color: #ff0000;
	color: #fff;
    opacity: 0;
	padding: 8px 0 0 10px;
}

.remImg:hover {
    opacity: 0.6;
	transition: .5s;
	cursor: pointer;
}

.input-group-prepend .remImg {
    margin: 0;
}

.swal2-content .remImg {
	margin: 1px 0 0 -43px;
	padding: 7px 0 0 9px;
}

.swal2-content .input-group .remImg {
    margin: 0 0 0 8px;
	padding: 7px 0 0 1px;
}


.swal2-content .input-group-prepend {
    width: 100%;
}

.swal2-content .addvar {
    margin-right: 96%;
}

.swal2-content .label-error {
	display: none;
    margin-left: 36vw;
    color: #f00;
    font-weight: 800;
}

#support {
    margin-right: 1rem;
}

.mobile {
		display: none;
}

.desktop {
	display: inline-block;
}

.poll-desc {
    margin: .5rem 0 0 0;
}

@media (max-width: 991px) {
	.navbar li {
		margin: 0 20px 0.5rem;
		display: contents;
	}
	.github-corner {
		display: none;
	}
	table {
		font-size: 6px;
	}
	.navbar-nav {
		text-align: center;
    	margin-top: 1rem;
	}
	.navbar-collapse .btn {
		height: 11vh;
		width: 100%;
		font-size: 24px;
		font-weight: 800;
		padding: 3vh;
		min-height: 75px;
	}
	.table td {
    	padding: 0.2rem;
	}
}

@media (max-width:767px) {
	.card-header-right {
    	position: initial;
	}
}

@media (max-width:500px) {
	.github-corner:hover .octo-arm {
		animation: none
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out
	}

	.card-header-right p {
		margin-top: -6.4rem;
	}

	.card-header-right .rem-buttons {
		margin-top: -2.9rem;
		margin-right: -.5rem;
	}

	#complete-form .card-header {
		padding-left: .5rem;
	}

	#complete-form {
		margin-top: 4rem;
	}

	#support {
		margin-right: 0;
	}

	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}
}

.label-error {
	color: #f00;
	display: none;
	margin-bottom: 48px;
}

.invalid-feedback {
    position: absolute;
	margin-top: 2.25rem;
	margin-left: 2.25rem;
}

.varDiv .input-group-prepend {
	width: 100%;
}

.navbar {
    padding: 0.5rem;
}
