.gPolls {
	padding: .1rem;
}

a .gPolls {
	text-decoration: none;
}

.gPolls .progress {
	height: 1.25rem;
	font-size: 8pt;
}

.gPolls .card {
	margin: 0.1rem;
}

.gPolls .card-header {
	padding-top: .2rem;
	padding-right: 1.25rem;
	padding-bottom: .2rem;
	padding-left: .3rem;
	background: #f7f7f7;
}

.gPolls .card-body {
	padding: .75rem;
	background: #fff;
}

.gPolls .card-title {
	margin-bottom: 0;
}

.gPolls .card-header-right {
	position: absolute;
	right: .1rem;
}

.gPolls .card-header-right p {
	line-height: 2rem;
}

.gPolls .badge {
	margin: .4rem;
}